/*  ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
    ┃                                             ┃
    ┃                   DESKTOP
    ┃                                             ┃
    ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ */

body
{
margin: 0; /* Suppression de la bordure de la page */
font-family: 'RalewayLight', sans-serif;
zoom: 100%;
}

.size_correction /* Espace entre les bordures de l'écran et le contenu du site */
{
margin-left: 110px;
margin-right: 110px;
margin-bottom: 75px;
}

.logo_width
{
width: 150px;
}

ul
{
list-style-type: none;
padding: 0;
margin: 0;
}

a
{
text-decoration: none;
color: inherit; /* Suppression de la couleur violette sur les liens */
}

h2
{
font-weight: bold;
}

.size_bold /* Prix en gras */
{
font-weight: bold;
}

header
{
justify-content: space-between;
margin-bottom: 35px;
}

.header_flex
{
display: flex;
}

.logo
{
margin-top: 10px;
}

nav li
{
padding-top: 40px;
}

nav a
{
padding: 40px 30px 0;
}

nav li a:hover
{
color: #0065FC;
border-top: 5px solid #0065FC;
padding-top: 38px;
}

.header_search
{
margin-bottom: 30px;
}

.header_search h2
{
margin-bottom: 10px;
}

.header_search p
{
margin-top: 10px;
}

.header_search_field
{
margin-bottom: 30px;
height: 50px;
}

.header_icon_marker
{
background-color: #DBDBDB;
border-radius: 20px 0 0 20px;
width: 50px;
}

.header_icon_marker i
{
margin: auto;
font-size: 20px;
}

.header_search_entry
{
border: 1.5px solid #F2F2F2;
border-right: none;
padding: 0 5px 0 15px;
font-size: 18px;
font-weight: bold;
width: 200px;
}

.header_search_entry value
{
color: #000000;
}

.header_search_button
{
border-radius: 0 20px 20px 0;
color: #FFFF;
cursor: pointer;
width: 120px;
background-color: #0065FC;
border: none;
font-weight: bold;
font-size: 16px;
}

.header_search_button i
{
display: none; /* Inversement à la version mobile (IMPORTANT à ne pas oublier) */
}

.header_filtres_text
{
align-self: center;
}

.header_filtres_ajust
{
font-size: 16px;
margin-bottom: 30px;
font-weight: bold;
}

.header_filtres
{
border: 2px solid #DBDBDB;
border-left: none;
align-items: center;
height: 40px;
border-radius: 35px;
margin-left: 20px;
padding-right: 20px;
}

.header_filtres span
{
padding-left: 10px;
}

.header_filtres:hover
{
cursor: pointer;
border-color: #0065FC;
color: #0065FC;
background-color: #D5ECFF;
}

.header_filtres_wrap
{
flex-wrap: wrap;
}

.header_filtres_icons
{
margin-right: 2.5px;
margin-top: 0.5px;
zoom: 105%;
width: 42.5px;
height: 42.5px;
border-radius: 100%;
background-color: #D5ECFF;
}

.header_filtres_icons i
{
color: #0065FC;
margin: auto;
}

.header_icon_info
{
height: 20px;
width: 20px;
border: 1px solid #F2F2F2;
background-color: #F2F2F2;
border-radius: 100%;
margin-right: 10px;
}

.header_icon_info i
{
margin: auto;
font-size: 12px;
color: #0065FC;  
}

.header_info_text
{
margin-top: 2px; /* Correction alignement */
}

.section_bloc_hotels_flex, .section_bloc_most_popular
{
background-color: #F2F2F2;
border-radius: 20px;
padding: 40px;
}

.section_bloc_hotels_flex
{
flex: 2 100px; /* https://developer.mozilla.org/fr/docs/Web/CSS/flex */
}

.section_bloc_hotels_flex > h2
{
margin: 0;
}

.section_bloc_hotels_ajust
{
display: grid;
grid-template: repeat(2, 1fr) / repeat(3, 1fr);
gap: 20px; /* Création d'espace entre chaque annonces */
margin-top: 30px;
margin-bottom: 50px;
}

.section_bloc_hotels_advert /* MODIFICATIONS */
{
display: grid;
height: 220px;
grid-template-rows: 1fr 40%;
box-sizing: border-box;
border: 5px solid #FFFF;
box-shadow: 0 0 5px #B6B6B6;
border-radius: 10px;
}

.section_bloc_hotels_advert img /* MODIFICATIONS */
{
width: 100%;
height: 126px;
object-fit: cover;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.section_bloc_hotels_text
{
background-color: #FFFF;
flex-direction: column;
justify-content: space-around;
padding: 5px 10px;
}

.section_bloc_hotels_text p
{
margin: 0;
}

.section_house_star
{
word-spacing: normal; /* Création d'un espace entre chaque étoile */
}

.fa-star
{
font-size: 12.5px;
letter-spacing: normal; /* Création d'un espace entre chaque étoile de couleur */
}

.star_blue
{
color: #0065FC;
}

.star_gray
{
color: #D5ECFF;
}

.section_bloc_hotels_show_more
{
font-weight: bold;
font-size: 18px;
}

.section_bloc_hotels_show_more:hover
{
cursor: pointer;
zoom: 105%;
}

.section_bloc_most_popular
{
flex: 1;
margin-left: 25px;
}

.section_bloc_most_popular_icon
{
justify-content: space-between;
align-items: baseline;
}

.section_bloc_most_popular_icon h2
{
margin-top: 0;
margin-bottom: 25px;
}

.section_bloc_most_popular_icon i
{
font-size: 26px;
}

.section_bloc_most_popular_advert
{
height: 145px;
border: 5px solid #FFFF;
border-radius: 15px;
margin-bottom: 30px;
box-shadow: 0 0 5px #B6B6B6;
box-sizing: border-box;
}

.section_bloc_most_popular_advert img
{
width: 40%;
height: 100%;
object-fit: cover;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.section_bloc_most_popular_text
{
flex: 1;
background-color: #FFFF;
flex-direction: column;
justify-content: space-between;
padding: 10px;
}

.section_bloc_hotels_title
{
margin: 0;
font-weight: bold;
font-size: 18px;
}

.section_bloc_most_popular_text .section_bloc_hotels_title + p
{
margin-top: 10px;
margin-bottom: 0;
}










.section_bloc_activity
{
margin-top: 80px;
}

.list_correction
{
flex-direction: column;
}

.section_bloc_activty_list
{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.section_bloc_activity_advert_large
{
width: 395px;
height: 445px;
border-radius: 15px;
background-color: #ffffff;
box-shadow: 1px 1px 5px #b4b4b4;
margin-top: 20px;
}

.section_bloc_activity_advert_large img
{
width: auto;
border: 0px solid white;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
width: 100%;
height: 400px;
object-fit: cover;
}

.section_bloc_activity_advert_medium
{
width: 395px;
height: 250px;
border-radius: 15px;
background-color: #ffffff;
box-shadow: 1px 1px 5px #b4b4b4;
margin-top: 20px;
}

.section_bloc_activity_advert_medium img
{
width: auto;
border: 0px solid white;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
width: 100%;
height: 205px;
object-fit: cover;
}

.section_bloc_activity_advert_small
{
width: 395px;
height: 175px;
border-radius: 15px;
background-color: #ffffff;
box-shadow: 1px 1px 5px #b4b4b4;
margin-top: 20px;
}

.section_bloc_activity_advert_small img
{
width: auto;
border: 0px solid white;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
width: 100%;
height: 130px;
object-fit: cover;
}

.section_bloc_activity_text
{
background-color: #FFFF;
padding-top: 7.5px;
padding-left: 15px;
font-size: 18px;
font-weight: bold;
}








footer
{
padding: 35px 75px 35px;
background-color: #F2F2F2;
}

.footer_flex
{
display: flex;
}

footer div
{
flex: 1;
}

footer li
{
margin-top: 10px;
margin-bottom: 10px;
}

footer a:hover
{
font-weight: bold;
color: #0065FC;
}

.flex /* Correction d'un bug */
{
display: flex;
}

/*  ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
    ┃                                             ┃
    ┃                   TABLET
    ┃                                             ┃
    ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ */

@media only screen and (max-width: 1280px)
{
    .section_bloc_hotels_flex
    {
    flex: 1.5;
    }
    
    .section_bloc_hotels_ajust
    {
    grid-template: repeat(5, 1fr) / repeat(1, 1fr); /* 1 annonces max par ligne */
    margin: 30px 0;
    }
}

@media only screen and (max-width: 1024px)
{
    .header_filtres_ajust
    {
    flex-direction: column;
    }

    .header_filtres_text
    {
    align-self: flex-start;
    margin-bottom: 15px;
    }

    .header_filtres
    {
    margin: 0 15px 15px 0;
    }

    .section_bloc_most_popular
    {
    margin: 0 0 20px;
    }

    .section_bloc_most_popular_advert
    {
    height: 180px;
    }

    .section_bloc_most_popular_text, .section_bloc_hotels_title
    {
    font-size: 18px;
    }

    .section_bloc_most_popular_text p
    {
    font-size: 14px;
    }

    .section_bloc_most_popular_text, .fa-star
    {
    font-size: 18px;
    }

    .section_bloc_hotels_flex
    {
    order: 2;
    }

    .section_bloc_hotels
    {
    flex-direction: column;
    }










    .section_bloc_activty_list
    {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    }

    .section_bloc_activity_advert_large
    {
    width: auto;
    height: 265px;
    }

    .section_bloc_activity_advert_large img
    {
    width: 100%;
    height: 220px;
    }

    .section_bloc_activity_advert_medium
    {
    width: auto;
    height: 265px;
    }

    .section_bloc_activity_advert_medium img
    {
    width: 100%;
    height: 220px;
    }

    .section_bloc_activity_advert_small
    {
    width: auto;
    height: 265px;
    }

    .section_bloc_activity_advert_small img
    {
    width: 100%;
    height: 220px;
    }

    .section_bloc_activity_text
    {
    font-size: 18px;
    }













    footer
    {
    padding: 35px 75px 175px;
    background-color: #F2F2F2;
    font-size: 14px;
    }

    footer div
    {
    padding-top: 10px;
    }
}

/*  ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
    ┃                                             ┃
    ┃                   MOBILE
    ┃                                             ┃
    ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛  */

@media only screen and (max-width: 600px)
{
    .size_correction
    {
    margin: 0;
    }

    h2
    {
    font-size: 22px;
    }

    header
    {
    margin: 0;
    flex-direction: column;
    }

    .logo
    {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    }

    .logo_width
    {
    margin-left: 50px;
    }

    nav
    {
    order:3;
    }
    
    nav ul
    {
    width: 100%;
    }

    nav li
    {
    width: 50%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 3px solid #f2f2f2;
    }

    nav li a
    {
    padding: inherit;
    }

    nav li a:hover
    {
    border-top: none;
    }

    nav li:hover
    {
    border-bottom-color:#0065FC;
    }

    .header_search
    {
    margin: 30px 20px;
    }

    .header_search_entry
    {
    flex: 1;
    }

    .header_search_field
    {
    margin: 35px 0 30px;
    }

    .header_search_button
    {
    position: relative;
    width: 50px;
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    }

    .header_search_button span
    {
    display: none;
    }

    .header_search_button i
    {
    display: inline-block;
    }

    .header_filtres_ajust
    {
    margin-bottom: 12px;
    }

    .section_bloc_most_popular
    {
    border-radius: 0;
    padding: 40px 20px 30px;
    margin-bottom: 40px;
    }

    .section_bloc_most_popular_advert
    {
    height: 145px;
    margin-bottom: 10px;
    }

    .section_bloc_most_popular_icon i
    {
    font-size: 18px;
    }

    .section_bloc_hotels_title
    {
    font-size: 18px;
    }

    .section_bloc_most_popular_text p
    {
    font-size: 12px;
    }

    .section_bloc_most_popular_text
    {
    padding: 15px 10px 10px 20px;
    }

    .fa-star
    {
    font-size: 14px;
    letter-spacing: 1px;
    }

    .section_bloc_hotels_advert
    {
    height: 200px;
    }

    .section_bloc_hotels_flex
    {
    padding: 0 20px;
    background-color: initial;
    }

    .section_bloc_hotels_ajust
    {
    grid-template: repeat(6, 1fr) / 1fr; /* ou flex-direction: column; */
    gap: 15px;
    }

    .section_bloc_hotels_advert img
    {
    height: 116px;
    }

    .section_bloc_hotels_text p
    {
    font-size: 14px;
    }











    .section_bloc_activity
    {
    margin: 25px 0 35px; /* Hauteur & espace sur la gauche & en bas (à ne pas modifier) */
    padding-left: 37.5px;
    padding-right: 37.5px;
    }

    .section_bloc_activity_advert_large
    {
    width: auto;
    height: 165px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px #b4b4b4;
    margin-top: 20px;
    }

    .section_bloc_activity_advert_large img
    {
    width: auto;
    border: 0px solid white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 120px;
    object-fit: cover;
    }

    .section_bloc_activity_advert_medium
    {
    width: auto;
    height: 165px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px #b4b4b4;
    margin-top: 20px;
    }

    .section_bloc_activity_advert_medium img
    {
    width: auto;
    border: 0px solid white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 120px;
    object-fit: cover;
    }

    .section_bloc_activity_advert_small
    {
    width: auto;
    height: 165px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px #b4b4b4;
    margin-top: 20px;
    }

    .section_bloc_activity_advert_small img
    {
    width: auto;
    border: 0px solid white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 120px;
    object-fit: cover;
    }













    footer
    {
    flex-direction: column;
    padding: 45px 30px;
    }

    footer div
    {
    padding: 0;
    }
}